# _unyts_
A package that consider units when operating with numeric data:
- **units**: instances capable of making arithmetic operations of values with different units
- **convert**: a units converter able to convert practically between any pair units

## importing the utilities

In [1]:
from unyts import convert, units

### units
to make instances of _units_

In [2]:
length_1 = units(3, 'm')
length_2 = units(250, 'cm')
length_3 = units(0.003, 'km')
length_4 = units(6.5, 'ft')

the representation of the units instances consists in the value followed by the units string

In [3]:
print(length_1)
print(length_2)
print(length_3)
length_4

3_m
250_cm
0.003_km

6.5_ft

### arithmetic operations

In [4]:
print(length_1, '+', length_2, '=', length_1 + length_2)

3_m + 250_cm = 5.5_m

all the units are **converted to the _first_ units** when making operations.

In [5]:
length_3 - length_2

0.0005_km

defining area units

In [6]:
area_1 = units(12, 'm2')
area_1

12_m2

product of units return new units:

In [7]:
area_2 = length_4 * length_2
area_2

53.313648293963254_ft2

### .to() method
use the unyts method **.to** to convert the instance value to other units:

In [8]:
area_2.to('m2')

4.953_m2

In [9]:
1000*area_1.to('acre')

2.9652645776059843_acre

### logical operators 
logical operators transform second value to the units of first value before comparing

In [10]:
print('length_4:', length_4 , 'equivalent to', length_4.to('cm'))
print('length_2:', length_2 , 'equivalent to', length_2.to(length_4))

print(length_4, '>', length_2)
length_4 > length_2

length_4: 6.5_ft equivalent to 198.12_cm
length_2: 250_cm equivalent to 8.202099737532809_ft
6.5_ft > 250_cm

False

In [11]:
print('area_1:', area_1)
print('area_2:', area_2)

print(area_1, '<', area_2)
area_1 < area_2

area_1: 12_m2
area_2: 53.313648293963254_ft2
12_m2 < 53.313648293963254_ft2

False

In [12]:
area_1/10 < area_2

True

other example of unit product:

In [13]:
volume_1 = area_1 * length_1
volume_1

36_m3

this volume divided by time returns rate:

In [14]:
rate_1 = volume_1 / units(1, 'day')
print(rate_1)
print(rate_1, 'to field units:', rate_1.to('stb/day'))
print('or in million barrel over one year:', rate_1.to('MMstb/year'))

36.0_m3/day
36.0_m3/day to field units: 226.433304_stb/day
or in million barrel over one year: 0.08270476428599999_MMstb/year

Multiple products and conversions:

In [15]:
volume_2 = length_4 * length_3 * length_2
volume_2

524.740632814599_ft3

In [16]:
volume_2.to('m3')

14.859000000000002_m3

In [17]:
volume_2.to('scf')

524.740632814599_scf

In [18]:
volume_2.to('stb')

93.4602871405253_stb

In [19]:
volume_2.to('stb') == volume_2

True

In [20]:
print(volume_2, '/', area_2, '=', volume_2/area_2)

524.740632814599_ft3 / 53.313648293963254_ft2 = 9.842519685039372_ft

In [21]:
print(volume_1, '/', area_2, '=', volume_1/area_2)

36_m3 / 53.313648293963254_ft2 = 2.2153846153846155_m

In [22]:
time_1 = units(1.5, 'hr')
time_1

1.5_hr

In [23]:
time_1.to('min')

90.0_min

In [24]:
time_2 = units(5, 'sec')
time_2

5_sec

In [25]:
speed_1 = length_4 / time_2
speed_1

1.3_ft/sec

In [26]:
speed_1.to('km/hr')

1.4264640000000002_km/hr

In [27]:
speed_2 = units(100, 'km/hr')
speed_2

100_km/hr

In [28]:
speed_2.to('mi/hr')

62.13711922373341_mi/hr

In [29]:
productivity_index_1 = units(2.7, 'stb/day/psia')
productivity_index_1

2.7_stb/day/psia

In [30]:
productivity_index_1.to('sm3/day/barsa')

6.225969351032321_sm3/day/barsa

In [31]:
productivity_index_1.to('cc/min/kPa')

43.2358982710578_cc/min/kPa

### working with arrays
simply provide the array as the first argument of _**units**_ function:

In [32]:
import numpy as np

In [33]:
array_1 = np.random.rand(10)
array_1

array([0.95956787, 0.02335757, 0.30684683, 0.19269795, 0.51852601,
       0.98388587, 0.15890033, 0.406027  , 0.96487395, 0.81103144])

In [34]:
mass_1 = units(array_1, 'kg')

In [35]:
mass_1

[0.95956787 0.02335757 0.30684683 0.19269795 0.51852601 0.98388587
 0.15890033 0.406027   0.96487395 0.81103144]_kg

In [36]:
mass_1.to('g')

[959.56787332  23.35757228 306.8468297  192.69794992 518.52601181
 983.88586602 158.90033011 406.02699932 964.87394888 811.03144104]_g

In [37]:
mass_2 = units(np.random.rand(10), 'lb')
mass_2

[0.52056616 0.13706947 0.58302456 0.1895792  0.12362004 0.10138586
 0.99629385 0.67306528 0.30611739 0.4107793 ]_lb

In [38]:
mass_2 + mass_1

[2.6360512  0.1885641  1.25950602 0.61440546 1.26677422 2.2704829
 1.34660911 1.56820158 2.43330032 2.19879756]_lb

## convert
The units converter, _**convert**_ can be used directly, providing the following arguments:
- first: the value to be converted
- second: the input units
- third: the desired output units

In [39]:
convert(2, 'week', 'day')

14

In [40]:
convert(1, 'day', 'minute')

1440

In [41]:
convert(1, 'psia', 'g/mm2')

292639.6534292

- optional, fourth argument set to **True** will return the conversion path.   
To avoid anoying print outs, the conversion path is printed only the first time it is used:

In [42]:
convert(1, 'nautical mile', 'km', True)

 converting from 'nautical mile' to 'km'
    nautical mile ⮕ meter ⮕ m ⮕ km

1.852

In [43]:
convert(30, 'm3/month', 'l/day', True)

 converting from 'm3' to 'l'
    m3 ⮕ cm3 ⮕ cubic centimeter ⮕ mililitre ⮕ ml ⮕ l

 converting from 'month' to 'day'
    month ⮕ day

985.6262833675565

In [44]:
convert(0.35, 'psi/ft', 'bar/m', True)

 converting from 'psi' to 'bar'
    psi ⮕ psi gauge ⮕ absolute psi ⮕ absolute bar ⮕ bar gauge ⮕ bar

0.07916822010251157